<div class="page-title">
  <h1>Boas práticas agrícolas</h1>
</div>

<div class="page-actions-bar">
  <div class="filter-group">
    <label for="propriedade-select">Propriedade</label>
    <select id="propriedade-select" class="form-select">
      <option value="todas">Todas</option>
      <option value="prop1">Propriedade 1</option>
      <option value="prop2">Propriedade 2</option>
      <option value="prop2">Propriedade 3</option>
      <option value="prop2">Propriedade 4</option>
    </select>
  </div>
  <div class="actions-group">
    <button class="btn btn-upload" (click)="onFazerUpload()">Fazer upload</button>
    <button class="btn btn-report-dark" (click)="onGerarRelatorio()">Gerar relatório</button>
  </div>
</div>

<div class="content-layout">
  
  <div class="card main-content-area">
    <div class="card-header">
      <h3>Avaliação Geral</h3>

      
    </div>
    <div class="card-content assessment-content">
      <div class="chart-container">
        <img src="/grafico-praticas.png" alt="Placeholder Gráfico de Barras Empilhadas">
      </div>
  
      <div class="risk-indicators">
        <div class="risk-item">
          <h4>Rotação de culturas</h4>
          <span class="risk-value critical">Baixo</span>
        </div>
        <div class="risk-item">
          <h4>Uso de insumos</h4>
          <span class="risk-value low">Bom</span>
        </div>
        <div class="risk-item">
          <h4>Gestão da água</h4>
          <span class="risk-value none">Ótimo</span>
        </div>
        <div class="risk-item">
          <h4>Controle de pragas</h4>
          <span class="risk-value none">Ótimo</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card sidebar-analysis">
    <div class="card-header">
      <h3>Análise / Sugestões</h3>
    </div>
    <div class="card-content analysis-content">
      <p>A propriedade demonstra uma excelente capacidade técnica e operacional. 
      <p>Gestão da água e Controle de pragas (Ótimo): Indicam que os recursos naturais são bem manejados e que há um monitoramento eficiente da sanidade da lavoura. </p>
      <p>Uso de insumos (Bom): Mostra que a fertilização e outros defensivos estão sendo aplicados de forma racional, sem excessos ou faltas graves.</p>
      <p> Rotação de culturas (Baixo): Este é o único indicador vermelho e representa o maior risco para a sustentabilidade do negócio a médio e longo prazo.</p>

      <p> O Que Fazer (Sugestões):</p>
      <p> Pare o monocultivo: Não plante a mesma coisa duas vezes seguidas no mesmo lugar.</p>
      <p>Alterne famílias: Se plantou soja (leguminosa), plante milho ou trigo (gramínea) na sequência.</p>
      <p> Use a entressafra: Plante cobertura verde (como braquiária ou milheto) para recuperar o solo enquanto não há cultura comercial.</p>
  
    </div>
  </div>

</div>