<div class="page-title">
  <h1>Acompanhamento de Eficácia</h1>
</div>

<div class="page-actions-bar">
  <div class="filter-group-container">
    <div class="filter-group">
      <label for="propriedade-select">Propriedade</label>
      <select id="propriedade-select" class="form-select">
        <option value="todas">Todas</option>
        <option value="prop1">Propriedade 1</option>
        <option value="prop2">Propriedade 2</option>
        <option value="prop3">Propriedade 3</option>
        <option value="prop4">Propriedade 4</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="periodo-select">Período</label>
      <select id="periodo-select" class="form-select">
        <option value="mensal">Mensal</option>
        <option value="semestral">Semestral</option>
        <option value="anual">Anual</option>
      </select>
    </div>
  </div>
  
  <div class="actions-group">
    <button class="btn btn-upload" (click)="onFazerUpload()">Fazer upload</button>
    <button class="btn btn-report-dark" (click)="onGerarRelatorio()">Gerar relatório</button>
  </div>
</div>

<div class="content-grid-acompanhamento">
  
  <div class="chart-card">
    <h3>Rendimento por mês</h3>
    <div class="chart-container">
  
      <img src="/rendimento.png" alt="Grafico rendimento">
    </div>
  </div>

  <div class="analysis-card">
    <h3>Análise Inteligente</h3>
    <p> 1. (Janeiro e Fevereiro) O ano começa excelente.Graças aos seus ótimos índices de Gestão de Água e Controle de Pragas, a produtividade é alta e o dinheiro entra em grande volume. É o momento de maior liquidez do ano.</p>
    <p> 2. (Março a Maio) Logo após colher, você reinveste parte do lucro no plantio da segunda safra.Você gasta o necessário, sem desperdícios, mantendo o custo operacional sob controle enquanto as plantas se desenvolvem.</p>
    <p> 3. (Junho e Julho) Entra a receita da segunda colheita. O dinheiro entra, mas o volume é menor que no início do ano. Aqui já se nota um impacto silencioso: a falta de rotação impede que essa segunda safra atinja seu potencial máximo produtivo.</p>
    <p> 4. (Agosto a Outubro) Este é o período crítico. Com o solo cansado e possivelmente compactado pelo monocultivo, os meses de preparação para o próximo plantio (Setembro/Outubro) tornam-se muito caros. Você é obrigado a gastar muito mais com maquinário, diesel e correção de solo para "forçar" a terra a produzir novamente.</p>

      <p>Conclusão: Sua fazenda opera em um ciclo de "Alto Lucro / Alto Custo de Recuperação". Você ganha muito dinheiro na colheita porque é tecnicamente eficiente, mas perde uma parte desnecessária desse lucro no final do ano tentando recuperar um solo que foi degradado pela falta de rotação.</p>
  
  </div>
</div>