<div class="page-title">
  <h1>Últimos SMS</h1>
</div>

<div class="page-actions-bar simple-actions">
  <div class="actions-group">
    <button class="btn btn-report-dark" (click)="onGerarRelatorio()">Gerar relatório</button>
  </div>
</div>

<div class="content-grid-sms">

  <div class="content-card">
    <h3>Histórico de notificações</h3>
  
    <ul class="custom-list">
      <li class="item-filled">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      <li class="item-filled">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li class="item-filled">ex ea commodo consequat.</li>
      <li class="item-empty">Duis aute irure dolor in reprehenderit in voluptate velit</li>
      <li class="item-empty">esse cillum dolore eu fugiat nulla pariatur.</li>
      <li class="item-filled">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</li>
      <li class="item-empty">anim id est laborum."</li>
    </ul>
  </div>

  <div class="content-card">
    <h3>Alertas notificados</h3>

    <ul class="default-list">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li>Duis aute irure dolor in reprehenderit in voluptate velit</li>
      <li>esse cillum dolore eu fugiat nulla pariatur.</li>
      <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</li>
      <li>anim id est laborum."</li>
    </ul>
  </div>
</div>