<div class="page-title">
  <h1>Últimos SMS</h1>
</div>

<div class="page-actions-bar simple-actions">
  <div class="actions-group">
    <button class="btn btn-report-dark" (click)="onGerarRelatorio()">Gerar relatório</button>
  </div>
</div>

<div class="content-grid-sms">

  <div class="content-card">
    <h3>Histórico de notificações</h3>
  
    <ul class="custom-list">
      <li class="item-filled">Alerta Crítico de Solo: Risco elevado de compactação no Talhão 2. A falta de rotação de culturas está a degradar a estrutura do solo. Recomendada a introdução imediata de nabo forrageiro ou milheto.</li>
      <li class="item-filled">Aviso Agronômico: Resistência de pragas detetada na região. Como a sua rotação é "Baixa", a pressão de pragas específicas da cultura atual pode aumentar repentinamente, ameaçando o seu índice "Ótimo" de controle.</li>
      <li class="item-filled">Gestão Hídrica (Otimização): Previsão de 35mm de chuva para as próximas 24h. O sistema sugere desligar a irrigação programada para evitar desperdício e manter a gestão "Ótima".</li>
      <li class="item-filled">Planeamento de Nutrientes: Atenção à extração de Potássio. Devido ao monocultivo contínuo, a análise de solo indica queda acentuada de nutrientes. Será necessário aumentar a dose de adubo na base se não houver rotação.</li>
      <li class="item-filled">Monitorização de Pragas: Foco de lagarta detetado em propriedade vizinha (raio de 5km). O seu controlo preventivo está excelente, mas recomenda-se vistoria nas bordaduras hoje.</li>
    </ul>
  </div>

  <div class="content-card">
    <h3>Alertas notificados</h3>

    <ul class="default-list">
      <li>Janela de Plantio: A janela ideal para plantio de cobertura (adubação verde) encerra em 10 dias. Plante agora para recuperar a matéria orgânica perdida na última safra</li>
      <li>Relatório de Custos: Parabéns! A sua gestão de insumos resultou numa economia de 12% comparada à média da região este mês. O uso racional de defensivos está a funcionar.</li>
      <li>Manutenção Operacional: Lembrete para lavar os pulverizadores. Resíduos de herbicidas anteriores podem causar fitotoxicidade na próxima cultura se não houver limpeza correta.</li>
      
    </ul>
  </div>
</div>