<div class="page-title">
  <h1>Indicadores de Vulnerabilidade por Propriedades</h1>
</div>

<div class="page-actions-bar">
  <div class="filter-group">
    <label for="propriedade-select">Propriedade</label>
    <select id="propriedade-select" class="form-select" (change)="aoTrocarPropriedade($event)">
      <option value="todas">Todas</option>
      <option value="prop1">Propriedade 1</option>
      <option value="prop2">Propriedade 2</option>
      <option value="prop3">Propriedade 3</option>
      <option value="prop4">Propriedade 4</option>
  </select>
  </div>
  <div class="actions-group">

    <button class="btn btn-upload" (click)="onFazerUpload()">Fazer upload</button>
    <button class="btn btn-report-dark" (click)="onGerarRelatorio()">Gerar relatório</button>
  </div>
</div>

<div class="cards-grid">

  <div class="card">
    <div class="card-header">
      <h3>Tempo</h3>
    </div>
    <div class="card-content" style="display: flex; justify-content: center; align-items: center; min-height: 200px;">
      
      <app-weather [cidade]="cidadeAtual"></app-weather>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Projeção Climática</h3>
    </div>
    <div class="card-content chart-container">
      <img src="/projecao.jpeg" alt="Barra de Nutrientes">
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Barras de Nutrientes</h3>
    </div>
    <div class="card-content chart-container">
      <img src="/barra-nutri-prop.png" alt="Barra de Nutrientes">
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Medidor de pH</h3>
    </div>
    <div class="card-content chart-container">
      <img src="/medidor-ph-prop.png" alt="Medidos de PH">
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Indicador de Compactação</h3>
    </div>
    <div class="card-content chart-container">
      <img src="/indi-compac-prop.png" alt="Indicador de Compactação">
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Balanço Hídrico da Propriedade</h3>
    </div>
    <div class="card-content chart-container">
      <img src="/balanco-hidrico-prop.png" alt="Balanço Hídrico da Propriedade">
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Nível de Matéria Orgânica</h3>
    </div>
    <div class="card-content chart-container">
      <img src="/mat-org-prop.png" alt="Nível de Matéria Orgânica">
    </div>
  </div>

</div>