<div class="page-title">
  <h1>Galeria</h1>
</div>

<div class="page-actions-bar">
  <div class="filter-group">
    <label for="propriedade-select">Propriedade</label>
    <select id="propriedade-select" class="form-select">
      <option value="todas">Todas</option>
      <option value="prop1">Propriedade 1</option>
      <option value="prop2">Propriedade 2</option>
      <option value="prop2">Propriedade 3</option>
      <option value="prop2">Propriedade 4</option>
    </select>
  </div>
  <div class="filter-group">
    <label for="area-select">Área</label>
    <select id="area-select" class="form-select">
      <option value="selecionar">Todas</option>
      <option value="area1">Análise por Propriedade</option>
      <option value="area1">Análise por Cultivo</option>
      <option value="area1">Práticas Resilientes</option>
      <option value="area1">Intervenções</option>
      <option value="area1">Acompanhamento de Eficácia</option>
     
      
    </select>
  </div>
</div>

<div class="section-title">
  <h2>Galeria/Documentos</h2>
</div>

<div class="gallery-container">
  <div class="gallery-grid">
    
    <div class="gallery-item">
      <div class="image-placeholder">
        <img src="https://placehold.co/200x150/eaf3ea/9db09d?text=Imagem" alt="Placeholder de Imagem">
      </div>
      <span class="item-title">Gestão de resíduos</span>
    </div>
    
    <div class="gallery-item">
      <div class="image-placeholder">
        <img src="https://placehold.co/200x150/eaf3ea/9db09d?text=Imagem" alt="Placeholder de Imagem">
      </div>
      <span class="item-title">Plantio direto</span>
    </div>
    
    <div class="gallery-item">
      <div class="image-placeholder">
        <img src="https://placehold.co/200x150/eaf3ea/9db09d?text=Imagem" alt="Placeholder de Imagem">
      </div>
      <span class="item-title">Gestão da água</span>
    </div>
    
    <div class="gallery-item">
      <div class="image-placeholder">
        <img src="https://placehold.co/200x150/eaf3ea/9db09d?text=Imagem" alt="Placeholder de Imagem">
      </div>
      <span class="item-title">Nova estrada agrícola</span>
    </div>
    
    <div class="gallery-item">
      <div class="image-placeholder">
        <img src="https://placehold.co/200x150/eaf3ea/9db09d?text=Imagem" alt="Placeholder de Imagem">
      </div>
      <span class="item-title">Tratores autônomos</span>
    </div>
    
    <div class="gallery-item">
      <div class="image-placeholder">
        <img src="https://placehold.co/200x150/eaf3ea/9db09d?text=Imagem" alt="Placeholder de Imagem">
      </div>
      <span class="item-title">Novo sistema de irrigação</span>
    </div>
    

  </div>