<div class="login-container">
    <div class="login-header">
        <h1>Login</h1>
    </div>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        @if (erroApi) {
            <div class="api-error-message">
                {{ erroApi }}
            </div>
        }

        <div class="form-group">
            <label>Insira seu email</label>
            <input type="email" placeholder="seu@email.com" formControlName="email"
                   [ngClass]="{ 'is-invalid': f['email'].invalid && f['email'].touched }">
            
            @if (f['email'].invalid && f['email'].touched) {
                <div class="error-message">
                    @if (f['email'].errors?.['required']) {
                        <div>Email é obrigatório.</div>
                    }
                    @if (f['email'].errors?.['email']) {
                        <div>Formato de email inválido.</div>
                    }
                </div>
            }
        </div>

        <div class="form-group">
            <label>Insira sua senha</label>
            
            <div class="input-toggle-wrapper">
                <input 
                    [type]="senhaVisivel ? 'text' : 'password'" 
                    placeholder="Sua senha" 
                    formControlName="senha"
                    [ngClass]="{ 'is-invalid': f['senha'].invalid && f['senha'].touched }">
                
                <button type="button" (click)="toggleVisibilidade()" class="toggle-senha-btn">
                    {{ senhaVisivel ? 'Esconder' : 'Mostrar' }}
                </button>
            </div>
            
            @if (f['senha'].invalid && f['senha'].touched) {
                <div class="error-message">
                    @if (f['senha'].errors?.['required']) {
                        <div>Senha é obrigatória.</div>
                    }
                </div>
            }
        </div>

        <button type="submit" class="button-login" [disabled]="loginForm.invalid">
          Login
        </button>

        <div class="login-link">
            Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
        </div>
    </form>
</div>