/* Isso garante que o componente ocupe o espaço e centralize o texto */
:host {
  display: block;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

h4 {
  margin: 0;
  color: #555;
  font-size: 1.2rem;
}

h2 {
  margin: 10px 0;
  font-size: 3rem; /* Temperatura bem grande */
  color: #2c5e2e; /* Verde Agro */
}

p {
  color: #888;
  text-transform: capitalize; /* Primeira letra maiúscula */
}