<div class="page-title">
  <h1>Intervenções</h1>
</div>

<div class="page-actions-bar">
  <div class="filter-group-container">
    <div class="filter-group">
      <label for="propriedade-select">Propriedade</label>
      <select id="propriedade-select" class="form-select">
        <option value="todas">Todas</option>
        <option value="prop1">Propriedade 1</option>
        <option value="prop2">Propriedade 2</option>
        <option value="prop2">Propriedade 3</option>
        <option value="prop2">Propriedade 4</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="periodo-select">Período</label>
      <select id="periodo-select" class="form-select">
        <option value="mensal">Mensal</option>
        <option value="semestral">Semestral</option>
        <option value="anual">Anual</option>
      </select>
    </div>
  </div>
  
  <div class="actions-group">
    <button class="btn btn-upload" (click)="onFazerUpload()">Fazer upload</button>
    <button class="btn btn-report-dark" (click)="onGerarRelatorio()">Gerar relatório</button>
  </div>
</div>

<div class="content-grid-intervencoes">
  
  <div class="card-intervencao">
    <h3>Adicionar Intervenção</h3>
    
    <ul class="lista-adicionar">
      <li>
        <span class="bullet-square"></span>
        <span>Uso de drones</span>
      </li>
      <li>
        <span class="bullet-square"></span>
        <span>Agricultura de precisão</span>
      </li>
      <li>
        <span class="bullet-checkbox"></span>
        <span>Tratores autônomos</span>
      </li>
      <li>
        <span class="bullet-checkbox"></span>
        <span>Inoculação de sementes</span>
      </li>
      <li>
        <span class="bullet-square"></span>
        <span>Adubação orgânica</span>
      </li>
  
    </ul>

    <button class="btn btn-add">Adicionar</button>
  </div>

  <div class="card-intervencao">
    <h3>Histórico de Intervenções</h3>
    
    <ul class="lista-historico">
      <li>Genética vegetal</li>
      <li>Plantio direto</li>
      <li>Construção de estradas rurais</li>
      <li>Pastejo rotacionado</li>
      <li>Gestão de resíduos</li>
      <li>Suplementação estratégica</li>
      <li>Uso eficiente da água</li>
      <li>Rotação de culturas</li>
    </ul>
  </div>

</div>