<div class="container">
  <section class="poster">
    <div class="poster-content">
      <h1>Antecipe os Riscos.<br>Proteja sua Safra.<br>Aumente sua Produtividade.</h1>
      <p>Transformando dados climáticos em ações diárias para a sua propriedade</p>

      <div class="buttons">
    <a routerLink="/cadastro" class="button cadastro">Realizar Cadastro</a>
    <a routerLink="/login" class="button login">Login</a>
</div>
    </div>
    <div class="poster-image">
      <img src="/home.png" alt="Protege Agro">
    </div>
  </section>

  <section class="about">
    <div class="about-cards">
      <h3>Monitoramento Climático</h3>
      <p>Receba alertas precisos sobre condições climáticas que podem afetar sua produção.</p>
    </div>
    <div class="about-cards">
      <h3>Análise de Dados</h3>
      <p>Transformamos dados complexos em resumos práticos para sua tomada de decisão.</p>
    </div>
    <div class="about-cards">
      <h3>Recomendações Personalizadas</h3>
      <p>Sugestões específicas para sua propriedade baseadas em dados históricos e atuais.</p>
    </div>
  </section>
</div>

<footer>
  <div class="container">
    <p>Protege Agro &copy; 2025</p>
  </div>
</footer>